header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    gap: 20px;
}

a{    text-decoration: none;
}
li{
    list-style: none;
}
.hero-img{
    width: 100%;
}

.hero-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.hero-div > img{
    width: 400px;
    border-radius: 100%;
    height: 400px;
    object-fit: cover;
}

.para-container{
    width: 35%;
    text-align: center;
}

.text-lg{
    font-size: 40px;
}

.text-md{
    font-size: 30px;
}

.text-blue{
    color: rgb(0, 0, 110);
}

#hero{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#about{
    display: flex;
    justify-content: center;
}

#contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.victory-img{
    width: 250px;
    border-radius: 10px;
    transition: 0.15s ease-in-out;
}

.victory-img:hover{
    transform: translateX(10px);
}

#victory{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

footer{
    text-align: center;
    padding: 4px;
    width: 100%;
    margin-top: 60px;
}